body {
  margin: 0;
  overscroll-behavior : none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


*::-webkit-scrollbar {
  display: none;
}

.player-wrapper {
  position: relative;
  padding-top: 1.25%;
  /* border: 1px solid white;  */
  width: 390px;
  height: 223px;
  border-radius: 20px;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  overflow: hidden;
}